<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello <%= @user.email %>, your user account has been blocked! :/
    </p>
    <p>
      To unblock your account you need to reset your password. Click the link below:
    </p>
    <a href="<%= @link %>">Reset your password</a>
    <br>
    <p>
      If you have any questions, please contact us at <%= Rails.configuration.action_mailer.default_options[:from] %>.
    </p>
    <p>
      Thanks,
      <br>
      The <%= Rails.configuration.application_name %> Team
    </p>
  </body>
</html>
