<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= Rails.configuration.application_name %>!</h1>
    <p>We're glad you decided to join us.</p>
    <p>If you have any questions or concerns, please feel free to contact us at <%= Rails.configuration.action_mailer.default_options[:from] %></p>
    <p>Best regards,<br>
       The team of <%= Rails.configuration.host %></p>
  </body>
</html>
